@model Movimentacao
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- Widgets -->
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <div class="info-box bg-light-green hover-expand-effect">
        <div class="icon">
            <i class="material-icons">dynamic_feed</i>
        </div>
        <div class="content">
            <div class="text">@Model.Estoque.Nome</div>
            <!--<div class="number count-to" data-from="0" data-show="@Model.Quantidade" data-speed="1000" data-fresh-interval="20"></div>-->
            <div class="descricao">
                @Model.Produto.Nome<br />
                Qtd: @Model.Quantidade
            </div><br />
        </div>
    </div>
</div>
<!-- #END# Widgets -->